.conferencia {
    position: absolute; 
    top: 55%; 
    left: 60%
}

.oscuro {
    filter: brightness(50%)
}

.interlineado {
    line-height: 2rem;
}

.entrar {
    padding-top: 6rem; 
    margin-top: -5rem;
}