.conferencia {
    position: absolute; 
    top: 55%; 
    left: 60%
}

.oscuro {
    filter: brightness(50%)
}

.interlineado {
    line-height: 2rem;
}

.entrar {
    padding-top: 6rem; 
    margin-top: -5rem;
}

.carrusel {
    max-height: 865px; 
    object-fit: cover; 
    min-height: 320px;
}
    
    @media (max-width: 767px) {
        .oradores {
            display: none;
        }
    }
    
    @media (min-width: 768px) {
        .oradores-small {
        display: none;
        }
    }
    @media (max-width: 991px) {
        .barra-fixed {
            display: none;
        }
    }